<!-- homepage -->
<div class="container">
    <div class="profile"><img src="/assets/profile.png" alt="default user">
        <h3>User Info:</h3>
        <ng-container *ngIf="!isEditMode">
            <div class="flex">
                <p>Username: </p>
                <p>{{ this.userInfo.username }}</p>
            </div>
            <div class="flex">
                <p>Email: </p>
                <p>{{ this.userInfo.email }}</p>
            </div>
            <div class="flex" *ngIf="this.userInfo?.tel">
                <p>Phone: </p>
                <p>+359 {{ this.userInfo.tel }}</p>
            </div>
            <button class="edit-button" (click)="changeMode()">Edit</button>
        </ng-container>

        <ng-container *ngIf="isEditMode">
            <form [formGroup]="form" (ngSubmit)="handleProfileChange()">
                <div class="flex">
                    <p>Username: </p>
                    <input
                        type="text"
                        name="username"
                        id="username"
                        value="Johny"
                        formControlName="username"
                        [value]="this.userInfo.username"
                        >
                        <!-- errors -->
                    </div>
                    <ng-container *ngIf="form.get('username')?.touched">
                        <p class="error" *ngIf="form.get('username')?.errors?.['required']">
                            Username is required!
                        </p>
                        <p class="error" *ngIf="form.get('username')?.errors?.['minlength']">
                            Username must be at least {{form.get('username')?.errors?.['minlength']['requiredLength']}}
                            characters long!
                        </p>
                    </ng-container>
                <div class="flex">
                    <p>Email: </p>
                    <input
                        type="email"
                        name="email"
                        id="email"
                        value="john.doe@gmail.com"
                        formControlName="email"
                        [value]="this.userInfo.email"
                        >
                    </div>
                    <!-- errors -->
                    <ng-container *ngIf="form.get('email')?.touched">
                        <p class="error" *ngIf="form.get('email')?.errors?.['required']">
                            Email is required!
                        </p>
                        <p class="error" *ngIf="form.get('email')?.errors?.['appIsEmailValid']">
                            Email is not valid!
                        </p>
                    </ng-container>
                <div class="flex">
                    <p>Phone: </p>
                    <div>
                        <select name="select-tel" id="select-tel" class="tel">
                            <option value="00359">+359</option>
                        </select>
                        <input
                            type="text"
                            name="tel"
                            id="tel"
                            formControlName="tel"
                            [value]="this.userInfo.tel"
                            >
                    </div>
                </div>
                <button class="green-button">Save</button>
                <button class="red-button" (click)="changeMode()">Cancel</button>
            </form>
        </ng-container>
    </div>
</div>