body {
    padding: 2em;
}

header {
    display: flex;
    border-bottom: 2px solid rgb(0,0,0);
    justify-content: space-between;
    font-family: sans-serif;
    align-items: center;
}

h1 {
    text-transform: uppercase;
}

ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

a {
    text-decoration: none;
    color: rgb(0, 153, 0);
}