@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orienta&display=swap');


body {
    background-color: darkred;
}

h1 {
    /* font: normal 45px/60px 'Righteous', cursive; */
    font-size: 45px;
    line-height: 60px;
    font-family: 'Righteous', cursive;
    text-align: center;
    color: #fff;
    font-variant-caps: all-petite-caps;
}

h2 {
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -1px;
    color: #DFBF84;
    font-variant-caps: all-petite-caps;
    text-align: center;
}

p {
    /* font: 16px/24px 'Orienta', sans-serif; */
    font-size: 16px;
    line-height: 24px;
    font-family: 'Orienta', sans-serif;
    text-align: center;
    color: #f6f6f6;
}