* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    width: 700px;
    height: 500px;
    margin: 60px;
}

img.new {
    position: relative;
    top: -200px;
    right: 150px;
}