* {
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    max-width: 65vw;
}

section {
    display: flex;
    align-items: center;
}

.week{
    flex: 1 0 70%;
    flex-wrap: wrap;
}

.notes {
    flex: 1 0 30%;
    flex-wrap: wrap;
    flex-direction: column;
    text-transform: uppercase;
}

span {
    flex: 1 0 auto;
    border: 1px solid #000;
    text-align: center;
    height: 5em;
    padding: 1em;
}

section.notes span{
    width: 100%;
    height: 10em;
}

section.week span:nth-child(1),
section.week span:nth-child(7){
    flex: 1 0 100%;
}