body {
    margin: 1em;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "header header"
    "aside main"
    "footer footer";
    gap: 1em;
}

header,
aside,
footer,
main {
    border-radius: 3px;
    background-color: rgb(181, 216, 255);
    padding: 5px 10px;
}

header {
    grid-area: header;
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

header h1 {
    display: inline-block;
    vertical-align: middle;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
}

aside ul a {
    display: block;
    padding: 5px 0;
    color: rgb(86, 40, 129);
    text-decoration: none;
}

main a{
    text-decoration: none;
    color: #000;
}

header  {
    display: flex;
    align-items: center;
}

header ul{
    display: flex;
    list-style-type: none;
    gap: 1em;
}

header ul a{
    text-decoration: none;
}

@media (max-width: 500px){
    body{
        grid-template-areas: 
        "header header"
        "aside aside"
        "main main"
        "footer footer";
    }

    header{
        flex-direction: column;
    }
    
    header ul {
        flex-direction: column;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    h1 {
        display: block;
        margin-bottom: 5px;
        align-self: flex-start;
    }
}