/* * {
    margin: 0;
    padding: 0;
} */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
    flex-wrap: wrap;
}

article {
    width: 30%;
}

h2 {
    font-family: Georgia, serif;
    line-height: 1.2;
}

p {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}