ul {
    list-style-type: none;
    padding: 2em 3em;
    text-align: center;
    border: 1px solid #000;
    border-radius: 0.5em;
}


li div {
    display: flex;
    flex-direction: row;
    width: 100%;
    cursor: pointer;
}

.done {
    color: green;
    text-decoration: line-through;
}

.undone {
    color: red;
    text-decoration: none;
}